@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

:root{
    --orange:#F79F1F;
    --text-color-1:#444;
    --text-color-2:#666;
    --bg-color-1:#fff;
    --bg-color-2:#eee;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:.8rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--orange);
    border-radius: 5rem;
}

body{
    background:var(--bg-color-2);
}

body.active{
    --text-color-1:#fff;
    --text-color-2:#eee;
    --bg-color-1:#333;
    --bg-color-2:#222;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.4);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    color:var(--text-color-1);
    font-size: 4rem;
}

.heading span{
    position: relative;
    z-index: 0;
}

.heading span::before{
    content: '';
    position: absolute;
    bottom: 1rem; left: 0;
    z-index: -1;
    background: var(--orange);
    height: 100%;
    width: 100%;
    clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background:var(--orange);
    border-radius: .5rem;
    cursor: pointer;
    background-color: #FEBA17;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    position: fixed;
    top:0; left:0; right:0;
    background:var(--bg-color-1);
    box-shadow: var(--box-shadow);
    padding: 1.5rem 7%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-weight: bolder;
    font-size: 2.5rem;
    color:var(--text-color-1);
}

.header .logo i{
    color:var(--orange);
}

.header .search-form{
    background:var(--bg-color-2);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 4.5rem;
    width:50rem;
}

.header .search-form input{
    height:100%;
    width:100%;
    background:none;
    text-transform: none;
    font-size: 1.5rem;
    color:var(--text-color-1);
    padding:1rem;
}

.header .search-form label{
    font-size: 2rem;
    margin-right: 1.5rem;
    color:var(--text-color-1);
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--orange);
}

.header .icons div{
    height:4.5rem;
    width:4.5rem;
    line-height:4.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin-left: .5rem;
    background:var(--bg-color-2);
    color:var(--text-color-1);
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    color:#fff;
    background:var(--orange);
}


.header .navbar{
    position:absolute;
    top:115%; right:7%;
    background:var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width:25rem;
    transform:scale(0);
    transform-origin: top right;
}

.header .navbar.active{
    transform:scale(1);
}

.header .navbar a{
    display:block;
    margin:1rem;
    padding:1rem;
    font-size: 1.5rem;
    color:var(--text-color-1);
    border-radius: .5rem;
}

.header .navbar a:hover{
    color:var(--orange);
    background:var(--bg-color-2);
    padding-left: 2rem;
}

.header .login-form{
    position:absolute;
    top:115%; right:7%;
    background:var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width:35rem;
    padding: 2rem;
    transform:scale(0);
    transform-origin: top right;
}

.header .login-form.active{
    transform:scale(1);
}

.header .login-form .inputBox{
    margin-bottom: 1rem;
}

.header .login-form .inputBox span{
    font-size: 1.7rem;
    color:var(--text-color-2);
}

.header .login-form .inputBox input{
    font-size: 1.5rem;
    color:var(--text-color-1);
    border-radius: .5rem;
    padding:1rem;
    background:var(--bg-color-2);
    width: 100%;
    text-transform: none;
    margin:.5rem 0;
}

.header .login-form .remember{
    display: flex;
    align-items: center;
    gap:.5rem;
    padding:.5rem 0;
}

.header .login-form .remember label{
    color:var(--text-color-2);
    font-size: 1.5rem;
    cursor: pointer;
}

.header .login-form .btn{
    width:100%;
}


/* SECTION 1: Hero */
.hero-section {
    background-color: #cedde9;
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 4rem 10%;
    flex-wrap: wrap; /* biar aman di layar kecil */
  }
  
  .hero-section .text {
    flex: 1;
    min-width: 280px;
  }
  
  .hero-section .headshot {
    flex: 1;
    min-width: 280px;
    text-align: center;
  }
  
  .hero-section .headshot img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .hero-section .text h2 {
    font-size: 4rem;
  }

  .hero-section .text p {
    font-size: 1.7rem;
    line-height: 1.7;
    padding: 1rem 0;
  }

  .headshot img {
    animation: float 4s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0px);
    }
  }


.packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.packages .box-container .box{
    background:var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.packages .box-container .box .image{
    height:25rem;
    width: 100%;
    padding:1.5rem;
    position: relative;
}

.packages .box-container .box .image img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.packages .box-container .box .image h3{
    position: absolute;
    top:2.5rem; left:2.5rem;
    font-size: 2rem;
    color:#fff;
    background: rgba(0,0,0,.5);
    border-radius: .5rem;
    font-weight: lighter;
    padding:.5rem 1.5rem;
}

.packages .box-container .box .image h3 i{
    color:var(--orange);
}

.packages .box-container .box .content{
    padding:1.5rem;
    padding-top: 0;
}

.packages .box-container .box .content .price{
    font-weight: 600;
    color:var(--text-color-1);
    font-size: 2.5rem;
}

.packages .box-container .box .content .price span{
    font-weight: lighter;
    color:var(--text-color-2);
    font-size: 1.5rem;
    text-decoration: line-through;
}

.packages .box-container .box .content p{
    font-size: 1.5rem;
    padding:.5rem 0;
    color:var(--text-color-2);
    line-height: 1.7;
}

.services {
    background-color: #cedde9;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.services .box-container .box{
    background: var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    padding:2rem;
}

.services .box-container .box span{
    position: absolute;
    top:.5rem; right:2rem;
    color:var(--text-color-2);
    font-weight: bolder;
    font-size: 5rem;
}

.services .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    font-size: 2.5rem;
    color:#fff;
    background: var(--orange);
    border-radius: 50%;
    margin-bottom: .5rem;
}

.services .box-container .box h3{
    color:var(--text-color-1);
    font-size: 2.3rem;
    padding:.7rem 0;
}

.services .box-container .box p{
    color:var(--text-color-2);
    font-size: 1.5rem;
    line-height: 1.8;
}


.review {
    background-color: #cedde9;
}

.review .review-slider{
    box-shadow: var(--box-shadow);
    
}

.review .review-slider .slide{
    background: var(--bg-color-1);
    border-radius: .5rem;
    text-align: center;
    padding: 3rem;
}

.review .review-slider .slide img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.review .review-slider .slide h3{
    font-size: 2.5rem;
    color:var(--text-color-1);
}

.review .review-slider .slide p{
    font-size: 1.6rem;
    color:var(--text-color-2);
    line-height: 1.7;
    padding: 1rem 0;
}

.review .review-slider .slide .stars{
    padding: 1rem 0;
    padding-bottom: 1.5rem;
}

.review .review-slider .slide .stars i{
    font-size: 2rem;
    color:var(--orange);
}

.swiper-pagination-bullet-active{
    background: var(--orange);
} 


.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact form textarea,
.contact form .inputBox input{
    width: 100%;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--text-color-1);
    margin:.7rem 0;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    text-transform: none;
    border-radius: .5rem;
}

.contact form textarea{
    height: 20rem;
    resize: none;
}

.contact form .inputBox input{
    width: 49%;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    background:var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
}

.blogs .box-container .box .image{
    height: 20rem;
    width: 100%;
    overflow:hidden;
    border-radius: .5rem;
    background: var(--bg-color-2);
}

.blogs .box-container .box .image img{
    height: 100%;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform:scale(1.2);
}

.blogs .box-container .box .content{
    padding-top: 1rem;
}

.blogs .box-container .box .content h3{
   font-size: 2rem;
   color:var(--text-color-1);
   line-height: 1.5;
}

.blogs .box-container .box .content .icons{
    display: flex;
    justify-content: space-between;
    border-top: .1rem solid var(--text-color-2);
    margin-top: 2rem;
    padding-top: 1.5rem;
}

.blogs .box-container .box .content .icons a{
    font-size: 1.5rem;
    color:var(--text-color-2);
}

.blogs .box-container .box .content .icons a:hover{
    color:var(--orange);
}

.blogs .box-container .box .content .icons a i{
    padding-right: .5rem;
    color:var(--orange);
}

.footer{
    background: var(--bg-color-1);
}

.footer .box-container{
    display: grid;
    text-align: justify;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--text-color-1);
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--text-color-2);
    padding:1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--orange);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    border-top: .1rem solid var(--text-color-2);
    padding:1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    color:var(--text-color-2);
}

.footer .credit span{
    color:var(--orange);
}




/* About */
  .about-section {
    padding: 5rem 2rem;
  }
  
  .about-container {
    padding: 6rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    justify-content: space-between;
    margin-top: -50px;
  }
  
  .about-text {
    flex: 1 1 45rem;
    order: 2;
  }
  
  .about-text .subtitle {
    color: #777;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .about-text .title {
    font-size: 3.6rem;
    font-weight: bold;
    margin: 1rem 0;
  }
  
  .about-text .lead {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    color: #444;
  }
  
  .about-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3rem;
    flex: 1 1 45rem;
    order: 1;
  }
  
  .about-images img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }


/* FAQ */
.boxfaq{
    width: 70%;
    margin: 100px auto;
    background: #fff;
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.boxfaq h1{
    background: rgb(215, 223, 239);
    border-radius: 4px;
    padding: 20px;
    color:#F79F1F;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.faqs{
    padding: 0px 20px 20px;
}

details{
    background: #f6f6f6;
    padding: 10px 20px;
    border-radius:4px;
    margin-top: 20px;
    font-size: 14px;
    cursor: pointer;
}

details summary{
    outline: none;
    font-size: 15px;
    padding: 8px;
    color: rgb(34, 33, 35);
    font-weight: 500px;
}

details p{
    font-size: 12px;
    line-height: 24px;
    color: #888;
    padding: 8px;
    font-weight: 510;
}

@media (max-width: 768px){
    .boxfaq{
        width: 90%;
        margin: 100px auto;
        background: #fff;
        border-radius: 4px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    }

    details summary{
        outline: none;
        font-size: 12px;
        padding: 8px;
        color: rgb(34, 33, 35);
        font-weight: 600;
    }
}

details[open] summary ~ * {
    animation: dropdown 0.3s ease-in-out;
  }
  
  @keyframes dropdown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
/* FAQ */



/* footeer */
footer {
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 80px;
    background-color: #ffffff;
  }
  
  .container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .wrapper .footer-widget {
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding: 0 12px;
  }
  
  .wrapper .footer-widget:nth-child(1) {
    width: calc(40% - 50px);
    margin-right: 15px;
  }
  
  .wrapper .footer-widget .logo {
    margin-bottom: 30px;
    vertical-align: middle;
    height: 50px;
  }
  
  .wrapper .footer-widget p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
  }
  
  .wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .wrapper .footer-widget .socials li {
    list-style: none;
  }
  
  .wrapper .footer-widget .socials li a {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: #ffffff;
    background-color: rgba(3, 127, 243, 0.5);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
  }
  
  .wrapper .footer-widget .socials li a:hover {
    background-color: #037ef3;
  }
  
  .wrapper .footer-widget h6 {
    color: #585978;
    margin: 10px 0 35px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .wrapper .footer-widget .links li {
    list-style: none;
  }
  
  .wrapper .footer-widget .links li a {
    color: #585978;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 32px;
    transition: all 0.3s ease-out;
  }
  
  .wrapper .footer-widget .links li a:hover {
    color: #037ef3;
  }
  
  .copyright-wrapper {
    padding: 20px 0;
    border-top: 1px solid rgba(88, 89, 120, 0.4);
  }
  
  .copyright-wrapper p {
    color: rgba(88, 89, 120, 0.6);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
  
  .copyright-wrapper p a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-out;
  }
  
  .copyright-wrapper p a:hover {
    color: #037ef3;
  }
  
  
  @media (max-width: 992px) {
    .container {
      max-width: 960px;
    }
  
    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
      width: calc(50% - 30px);
    }
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 720px;
    }
  
    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
      width: 100%;
      margin: 0 10px 50px;
    }
  }

  


  /* Popup Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    z-index: 999;
  }
  
  /* Popup Container */
  .order-form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 15px;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    z-index: 1000;
    display: none;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  }
  
  .order-form-popup h2 {
    margin-bottom: 20px;
    color: #00aaff;
    text-align: center;
  }
  
  .order-form-popup label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
  }
  
  .order-form-popup input,
  .order-form-popup textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .order-form-popup .submit-btn {
    background: #00aaff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
  }
  
  .close-btn {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 24px;
    cursor: pointer;
    color: #888;
  }


  .popup-loading,
.notif-popup {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color:#F79F1F;
  color: white;
  padding: 18px 25px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  font-size: 1.7rem;
  z-index: 9999;
}

.popup-loading::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border: 3px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/* media queries  */

@media (max-width:991px){

    .hero-section {
        flex-direction: column;
        text-align: center;
        padding: 2rem;
      }
    
      .hero-section .text {
        order: 2;
      }
    
      .hero-section .headshot {
        order: 1;
      }

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
        padding: 2rem;
      }
    
      .about-text {
        order: 1;
      }
    
      .about-images {
        order: 2;
        width: 100%;
        margin-top: -120px;
      }

}

@media (max-width:768px){

    .header .navbar{
        right: 2rem;
    }

    .header .login-form{
        right: 2rem;
    }

    #search-btn{
        display:inline-block;
    }

    .header .search-form{
        position: absolute;
        top:115%; right: 2rem;
        background:var(--bg-color-1);
        border-radius: .5rem;
        width: 90%;
        box-shadow: var(--box-shadow);
        transform:scale(0);
        transform-origin: top right;
    }

    .header .search-form.active{
        transform:scale(1);
    }

    .about-text {
        order: 1;
      }
    
      .about-images {
        /* margin-top: 10px; */
        order: 2;
        width: 100%;
      }

}

@media (max-width:745px) {
    .about-images {
        margin-top: 1px;
    }
    
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .contact form .inputBox input{
        width: 100%;
    }

    .about-images {
        grid-template-columns: 1fr;
      }

}



